/*generic styling*/
* {
	margin: 0;
	padding: 0;
    font-size: 1.5vw;
}

a {
    text-decoration: none;
}
a:hover {
	color: #71481f;
	transition: color, background-color;
	transition-duration: 0.3s;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('Comfortaa-VariableFont_wght.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
	font-family: 'MyWebFont';
	overflow-x: hidden;
    background: #1B5528;
	/* background-image: linear-gradient(3E9551, 1B5528); */
}

ul {
	list-style-type: none;
}

/*Background*/
#grad1 {
    position:absolute;
    top:0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    /* background-color: red; For browsers that do not support gradients */
    background: #56B76B;
    background: -webkit-linear-gradient(#56B76B, #1B5528);
    background:    -moz-linear-gradient(#56B76B, #1B5528);
    background:         linear-gradient(#56B76B, #1B5528);
}

/*Nav Bar*/
.nav-bar {
	/* position: fixed; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    height: 100px;
    z-index: 12;
    color: white;
    background-color: #FFFDF6;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
}

.centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation-bar {
    float: right;
    width: 50%;
    margin: auto 20px;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 30px;
}

.nav-button {
    display: flex;
    justify-content: center;
    background: #C9864E;
    box-shadow: none;
    border-radius: 20px;
}
.nav-button p {
    margin: 15px;
}

.navigation-bar p:link {
    text-decoration: none;
    color: white;
}

.navigation-bar a:link,.navigation-bar a:visited {
	text-decoration: none;
	color: white;
}

.nav-button p:hover, .nav-button:hover p {
	color: #71481f;
	text-decoration: none;
	transition: color, background-color;
	transition-duration: 0.3s;
}
.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
}

#nav-logo-1 {
    width: 100px;
}

#nav-logo-2 {
    width: 300px;
    top: 30px;
}

/* Nav bar Responsive layout*/
@media screen and (max-width: 1500px) {
    .navigation-bar {
        width: 80%;
        display: block;
    }
    .nav-bar {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .nav-button {
       margin: 10px;
       display: block;
       width: auto;
    }
    .navigation-bar li {
       margin: 10px;
       display: block;
       float: left;
       width: 40%;
    }
    .navigation-bar * {
       font-size: 4vw;
       text-align: center;
    }
}
/* Nav bar Responsive layout*/
@media screen and (max-width: 1000px) {
    .navigation-bar {
        width: 100%;
        display: flex;
    }
    .nav-button {
       margin: 10px;
       display: flex;
    }
    .navigation-bar li {
       margin: 10px;
       display: flex;
       width: 100%;
    }
    .navigation-bar li a {
       width: 100%;
    }
    .navigation-bar * {
       font-size: 4vw;
       text-align: center;
    }
}

 /* Main screen*/
 .one {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    height: 600px;
    width: 100%;
    height: calc(100% - 560px);
 }
 .two {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 100%;
    height: calc(100% - 560px);
 }

 .two a {
    text-decoration: none;
 }

 /* Main Screen Responsive layout*/
 @media screen and (max-width: 1500px) {
    .one {
        margin-top: 60px;
    }
}
/* Title index page*/
#title {
    margin-bottom: 35px;
    font-size: 50px;
    color: white;
 }

 /* Title Responsive layout*/
@media screen and (max-width: 1500px) {
    #title {
        margin-bottom: 0px;
        font-size: 0px;
        height: 0;
        width: 0;
    }
}

/* Title summariser*/
.title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 40px;
}
.title div {
    display: flex;
    justify-content: space-evenly;
}

.title h1 {
    font-size: 50px;
    color: white;
}

.title p {
    font-size: 30px;
    color: white;
}

/* Summariser Responsive layout*/
@media screen and (max-width: 1500px) {
    .title {
        height: 0;
        width: 0;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 0px;
    }
    .title h1 {
        font-size: 0px;
    }
    .title p {
        font-size: 0px;
    }
}

 /* Search Bar*/
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search img {
    width: 20%;
    object-fit: contain;
    object-position: center bottom;
}

.search-bar {
    display: flex;
    flex:1;
    z-index: 3;
    height: 100px;
    border: 1px solid #dfe1e5;
    background: #FFFDF6;
    box-shadow: none;
    border-radius: 35px;
}
.magnifind {
    display: flex;
    align-items: center;
    width: 30px;
    padding-right: 13px;
    margin-top: -5px;
    padding: 5px 8px 0 14px
}

.magnifind img {
    width: 120%;
    margin-right: 30px;
}

.search-input {
    display: flex;
    align-items: center;
}
 #search-element {
    font-family: 'MyWebFont', cursive;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(0,0,0,.67);
    word-wrap: break-word;
    display: flex;
    min-height: 50px;
    line-height: 50px;
    height: 50px;
    width: 700px;
    flex: 100%;
    font-size: 30px;
    resize: none;
    overflow:hidden;
 }

 .search ::placeholder {
    color: lightslategray;
    opacity: 1;
}

/* Search bar Responsive layout*/
@media screen and (max-width: 1500px) {
    .search {
        width: 80%;
    }
}

/* Recommendation box*/
.recommendation {
    margin: 50px;
    background: #FFFDF6;
    box-shadow: none;
    border-radius: 40px;
}

.reco-page {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reco-box-section {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-title {
    display: flex;
    justify-content: center;
}

.box-title p {
    color: black;
    font-size: 40px;
}

.reco-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #3E9551;
    box-shadow: none;
    border-radius: 40px;
    align-items: center;
}

.reco-box img {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    width: 300px;
}

.box-page-title {
    display: flex;
    justify-content: center;
}

.box-page-title p {
    margin: 25px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.pick-for-me {
    margin: 35px;
    z-index: 3;
    display: flex;
    flex:1;
    justify-content: center;
    background: #C9864E;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
    border-radius: 100px;
    text-decoration: none;
}

.pick-for-me p {
    margin: 20px;
    font-size: 50px;
    color: white;
    text-decoration: none;
}
.pick-for-me p:hover, .pick-for-me:hover p {
    color: #71481f;
    text-decoration: none;
    transition: color, background-color;
    transition-duration: 0.3s;
}

/* Recomendation Responsive layout*/
@media screen and (max-width: 1500px) {
    .reco-page {
        flex-direction: column;
    }
}

/* Translater*/
.summariser-result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:100px;
}

.translater-box {
    flex:1;
    z-index: 3;
    height: 100px;
    border: 7px solid #875930;
    background: #FFFDF6;
    box-shadow: none;
    border-radius: 20px;
    min-width: 70%;
    margin:2px;
}

.translater-box textarea {
    padding: 10px;
    direction: ltr;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 23px;
    width: 100%;
    resize: vertical;
}

.translate-text-box {
    flex:1;
    z-index: 3;
    height: 100px;
    margin: 20px;
    border: 7px solid #875930;
    background: #FFFDF6;
    box-shadow: none;
    border-radius: 20px;
    margin:2px;
}
.translate-text-box p {
    font-size: 20px;
    margin: 20px;
}

.summarise-button {
    margin: 35px;
    z-index: 3;
    display: block;
    justify-content: center;
    background: #C9864E;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
    border-radius: 100px;
    border-width: 0px;
    width: 50%;
}

.summarise-button p {
    font-size: 32px;
    color:white;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.summarise-button p:hover, .summarise-button:hover p {
    color: #71481f;
    text-decoration: none;
    transition: color, background-color;
    transition-duration: 0.3s;
}
.summarise-button-box {
    display: flex;
    justify-content: center;
}
/* Summariser Responsive layout*/
@media screen and (max-width: 1500px) {
    .summariser-result {
        flex-direction: column;
    }
}

/* Other*/
 .right {
    float: right;
    width: 50%;
    height: 100%;
 }

 .left {
    float: left;
    width: 50%;
    height: 100%;
 }

 #placeholder-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(500%);
    z-index: -1;
 }

 .centre-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 /* foooooter*/
 .footer {
    display: flex;
    background-color: #FFFDF6;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-direction: column;
}

.footer-list {
    float: right;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 30px;
}

.footer-list li {
    display: flex;
    align-items: center;
}

.footer-list img {
    width: 50px;
}

.footer-list a:link {
    text-decoration: none;
    color: black;
}

.footer-list a:link,.footer-list a:visited {
	text-decoration: none;
	color: black;
}

.footer-list a:hover {
	color: #cd863f;
	text-decoration: none;
	transition: color, background-color;
	transition-duration: 0.3s;
}

/* Footer Responsive layout*/
@media screen and (max-width: 1000px) {
    .footer {
        flex-direction: column;
    }

    .footer-list {
        flex-direction: column;
    }

    .footer-list li {
        margin: auto;
    }

    .footer-list img {
        width: 0px;
    }
}


#everything {
    width: 100%;
    height: 100%;
}

/*Oh No Page*/
.oh-no-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    margin-bottom: 200px;

}
.no-title {
    margin: 10px;
    font-size: 50px;
    color: white;
}

.no-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#squirrel {
    height: 300px;
}

#acorn {
    width: 300px;
}

.no-box {
    flex:1;
    z-index: 3;
    height: 100px;
    width: 80%;
    background: #FFFDF6;
    box-shadow: none;
    border-radius: 20px;
}
.no-box p {
    font-size: 30px;
    overflow-wrap: break-word;
    margin: 20px;
}

.no-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin:50px;
}


/*Info page*/
 .Text {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 400px;
 }

 .Text h1{
    color: aqua;
    text-transform: uppercase;
 }

 .Text h2{
    text-align: center;
 }

 .Text h3{
    text-align: center;
 }

 .Text p{
    text-align: center;
 }

 .jumptomenu {
    display: flex;
    align-items: center;
    width: 100%;
 }

 .jumpto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5vw;
    margin-right: 5vw;
 }

 .sub1 {
    background-size: 100px;
    background-color:#C9864E;
    box-shadow: none;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
 }

 .sub2 {
    background-size: 100px;
    background-color:#875930;
    box-shadow: none;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
 }

 .sub3 {
    background-size: 100px;
    background-color:#6F442A;
    box-shadow: none;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
 }

 .sub4 {
    background-size: 100px;
    background-color:#5D3525;
    box-shadow: none;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
 }

 .jumpto a {
    text-align: center;
    color: white;
 }

 .jumpto a:link {
    text-decoration: none;
    color: white;
 }

 .jumpto a:link, .jumpto a:visited {
    text-decoration: none;
    color: white;
 }

 .jumpto a:hover {
    color: black;
    text-decoration: none;
    transition: color, backgrounf-color;
    transition-duration: 00.3s;
 }

.textPlus {
    margin:  0px 5vw;
}

 .article {
    padding: 10px;
    background-color: #FFFDF6;
    border-radius: 20px;
    width: 70%;
    border-width: 3px;
    border-style: solid;
    border-color: #875930;
    float:left;
    margin-bottom: 50px;
 }

 @media screen and (max-width: 1500px) {
    .textPlus {
        margin:  0px;
    }

    .article {
        clear: both;
        float: none !important;
        width: 90% !important;
    }

    .wantMore {
        clear: both;
        float: none !important;
        width: 90% !important;
    }

    .moreArt a {
        float: left;
        width: 50%;
    }
    * {
        font-size: 2vw;
    }
 }


 @media screen and (max-width: 1000px) {
    .articleContainer img{
        clear: both;
        float: none !important;
        width: 100% !important;
    }

    .articleContainer p{
        clear: both;
        float: none !important;
        width: 100% !important;
    }

    .articleContainer h3{
        clear: both;
        float: none !important;
        width: 100% !important;
    }

    .articleContainer h1{
        clear: both;
        float: none !important;
        width: 100% !important;
    }

    .moreArt a {
        clear: both;
        float: none !important;
        width: 100% !important;
    }
    * {
        font-size: 4vw;
    }
    .article * {
        font-size: 6vw;
    }
    .jumpto {
        display: block;
        text-align: center;
    }
    .sub1 {
        margin-bottom: 20px;
    }
    .sub2 {
        margin-bottom: 20px;
    }
    .sub3 {
        margin-bottom: 20px;
    }
    .sub4 {
        margin-bottom: 20px;
    }
    #nav-logo-1 {
        width: 200px;
    }

    #nav-logo-2 {
        width: 600px;
        top: 30px;
    }
    .wantMore .spacer {
        float: none !important;
        clear: both !important;
        width: 100% !important;
    }
 }

 .articleContainer img{
    width: 49%;
    float: left;
 }

 .articleContainer p{
    width: 49%;
    text-align: justify;
    float: left;
 }

 .articleContainer h3{
    width: 49%;
    float: left;
 }

 .articleContainer h1{
    width: 49%;
    float: left;
 }

 .articleContainer {
    margin: 1%;
    width: 98%;
    clear:  both;
 }

 .wantMore {
    padding: 10px;
    background-color: #FFFDF6;
    border-width: 3px;
    border-color: #C9864E;
    border-style: solid;
    border-radius: 20px;
    width: 20%;
    float:right;
    margin-bottom: 50px;
 }

 .wantMore h2 {
    text-align: center;
    margin-bottom: 1vh;
 }

 .wantMore img{
    width: 100%;
 }

 .moreArt h2:link{
    text-decoration: none;
    color: black;
 }

 .moreArt h2:visited{
    text-decoration: none;
    color: black;
 }

 .moreArt h2:hover{
    text-decoration: none;
    color: #875930;
 }

 .moreArt a:link{
    text-decoration: none;
    color: black;
 }

 .moreArt a:visited{
    text-decoration: none;
    color: black;
 }

 .moreArt a:hover{
    text-decoration: none;
    color: #875930;
 }

 .spacer {
     clear:both;
 }

 hr {
    border: 0px;
    border-top: 3px solid #875930;
    width: 100%;
 }

 .EthosTitle {
    display: flex;
    padding-left: 40vw;
    margin-top: 20px;
 }

 .EthosBox {
    padding-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    margin-bottom: 50px;
 }

 .EthosMessage {
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #FFFDF6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
 }

 .EthosMessage h4 {
    margin: 20px
}

 .AboutTitle {
    display: flex;
    padding-left: 40vw;
    margin-top: 20px;
 }

 .AboutBox {
    padding-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    margin-bottom: 50px;
 }

.AboutMessage {
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #FFFDF6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.AboutMessage h4 {
    margin: 20px
}

.EthicsTitle {
    display: flex;
    padding-left: 40vw;
    margin-top: 20px;
}

.EthicsBox {
    padding-bottom: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    margin-bottom: 50px;
}

.EthicsMessage {
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #FFFDF6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.EthicsMessage h4 {
    margin: 20px
}
