/*generic styling*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Kalam', cursive;
	overflow-x: hidden;
	background-color: white;
}

ul {
	list-style-type: none;
}

/*Nav Bar*/
.nav-bar {
	position: fixed;
    display: block;
    width: 100%;
    top: 0;
    z-index: 12;
    color: white;
}

.navigation-bar {
    float: right;
    margin: 28px;
    width: 50%;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
}

.navigation-bar a:link {
    text-decoration: none;
    color: black;
}

.navigation-bar a:link,.navigation-bar a:visited {
	text-decoration: none;
	color: black;
}

.navigation-bar a:hover {
	color: red;
	text-decoration: none;
	transition: color, background-color;
	transition-duration: 0.3s;
}

 #nav-logo {
     position: absolute;
     left: 16px;
     width: 100px;
 }

 /* Main screen*/
 .one {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 100%;
    height: calc(100% - 560px);
 }


 /* Serach Bar*/
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search img {
    width: 20%;
    object-fit: contain;
    object-position: center bottom;
}

.search-bar {
    display: flex;
    flex:1;
    z-index: 3;
    height: 100px;
    border: 1px solid #dfe1e5;
    background: white;
    box-shadow: none;
    border-radius: 24px;
}
.magnifind {
    display: flex;
    align-items: center;
    width: 30px;
    padding-right: 13px;
    margin-top: -5px;
    padding: 5px 8px 0 14px
}

.magnifind img {
    width: 100%;
}

.search-input {
    display: flex;
    align-items: center;
}
 .search-input input[type=text] {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(0,0,0,.67);
    word-wrap: break-word;
    display: flex;
    height: 34px;
    width: 500px;
    flex: 100%;
    font-size: 24px;
 }

 .search ::placeholder { 
    color: lightslategray;
    opacity: 1; 
}
/* translater*/
.translater-box {
    display: flex;
    flex:1;
    z-index: 3;
    height: 100px;
    border: 1px solid #dfe1e5;
    background: white;
    box-shadow: none;
    border-radius: 20px;
}
.translater-box textarea{
    margin: 10px;
    direction: ltr;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 23px;
}


/* Other*/ 
 .right {
    float: right;
    width: 50%;
    height: 100%;
 }

 .left {
    float: left;
    width: 50%;
    height: 100%;
 }
 
 #placeholder-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(500%);
    z-index: -1;
 }